body {
   background-image: linear-gradient(khaki, rgb(255, 249, 249));
}
p {
   font-family: "Festive", cursive;
}
h1,
h2 {
   font-family: "Dancing Script", cursive;
}
.py-5.text-center.container {
   padding-left: 40px;
   padding-right: 40px;
}
.navbar {
   padding: 0px;
}
.navbar-nav {
   display: flex;
   justify-content: flex-end;
   gap: 30px;
   margin-right: 0px;
}
.container-fluid {
   background-color: lightgoldenrodyellow;
}
.navbar-brand {
   margin-right: 150px;
}
.nav-link.active {
   background-color: khaki;
   margin: 0px;
   /* margin-top: 10px; */
}
.sosmed img {
   width: 40px;
   height: 40px;
   margin: 0 auto;
   padding-top: 10px;
   padding-right: 10px;
}

.listhob {
   list-style-type: none;
}
.img-fluid {
   width: 300px;
   border-radius: 10%;
   height: 200px;
   box-shadow: 2px 2px 4px 2px khaki;
   padding: 8px;
   margin: 12px;
}
.gambar img:hover {
   transform: translateY(-6px);
}
.gambar {
   margin-left: 20px;
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}
.navbar-nav a:hover {
   background-color: khaki;
}
